{% extends 'app/base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block background-change %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'app/images/background/background.jpg' %}" alt="background-change">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app/images/background/background2.jpg' %}" alt="background-change">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app/images/background/background3.jpg' %}" alt="background-change">
    </div>
  </div>
</div>
{% endblock background-change %}

{% block info %}
<div class = "container">
  <div class = "row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Jedzenie</h1>
    <small class = "fs-5"> 
      Znajdujemy się w Olsztynie i z przyjemnością 
      przyjmiemy Twoje zamówienie online.

      Nie spiesz się, przeglądając nasze interaktywne menu 
      online i złóż zamówienie, gdy będziesz gotowy. 
      Potwierdzenie zamówienia i podanie szacowanego 
      czasu gotowości zajmuje nam około minuty.
    </small>
  </div>

</div>
{% endblock info %}

{% block main-content %}
  <div class = "container">
    <h2 class="text-center">Fast Food</h2><br><br>
    <div class="row container">

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood burger smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/burger.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Burger </p>
            </div>
          </a>
        </div>
      </div>

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood kebab smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/kebab.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Kebab </p>
            </div>
          </a>
        </div>
      </div>

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood pizza smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/pizza.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Pizza </p>
            </div>
          </a>
        </div>
      </div>

    </div>

    <br><br>

    <div class="row container">

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood burger smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/chickenwings.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Skrzydełka z kurczaka </p>
            </div>
          </a>
        </div>
      </div>

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood kebab smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/onionrings.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Krążki cebulowe </p>
            </div>
          </a>
        </div>
      </div>

      <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"; style="animation-duration: 1s; animation-delay:0.6s; animation-name:none;">
        <div class="homefood pizza smbg">
          <a href = "#">
            <div class = "homefood text-center">
              <img src="{% static 'app/images/food/sushi.jpg' %}" class="img-responsive center-block" alt="">
              <p class = "foodpro"> Sushi </p>
            </div>
          </a>
        </div>
      </div>
      
    </div>
    <h1>Witaj w świecie Fast Food!</h1>
  </div><br></br>
{% endblock main-content %}
