{% extends 'app/base.html' %}

{% load static %}

{% block title %} O nas {% endblock title %}

{% block main-content %}
<div class="container mt-3">
  <div class = "row bg-warning text-center p-5 text-white border-bottom shadow">
    <br>
        <h2 class="text-center">O nas...</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Opis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmyOpis naszej firmy</p>
    </div>

    <h2 class="text-center">Nasze zadanie</h2>

    <div class="row container">
        <p class="fs-4 text-center" style="margin-bottom: 100px">
            Opis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celowOpis naszych celow.
        </p>
    </div>
  </div>
</div>

{% endblock main-content %}