{% extends 'app/base.html' %}

{% load static %}

{% block title %} Zmień hasło {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h1>Witaj {{request.user.username|capfirst}}</h1>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="#" class="btn btn-warning">Zmień hasło</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h1>Hasło zmienione pomyślnie!</h1>
            <div>
                <a href="{% url 'adres' %}" type="button" class="btn btn-danger">Wróć</a>
            </div>
        </div>

{% endblock main-content %}