{% extends 'app/base.html' %}

{% load static %}

{% block title %} Kategorie {% endblock title %}

{% block main-content %}

    <div class="container" style="display: flex;">
        <div class="row flex justify-content-between" >
            <img src="{{ product.prod_image.url }}" style="margin-right: 350px; border: 10px solid #555; background-color: orange; border-radius: 30px" alt="" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-55 h-150">
        </div>
        <div class="productdesc col-lg-5" style="margin-left: 50px; margin-top: 20px;">
            <h1 style="font-family: Georgia; font-size: 50px;">{{product.nazwa}}</h1>
            <h5>{{product.cena}}zł</h5>
            <br><h3>Opis produktu</h3>
            <h1>Opis produktu {{ product }}</h1>
            <ul class="fs-5" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                <li>{{product.desc}}</li>
            </ul>
            <div style= "display: flex; margin-bottom: 60px;">
                <form action="/add-to-basket" class="d-inline">
                    <input type="hidden" name="prod_id" value={{product.id}} />
                    <button style=";" type="submit" class="btn btn-primary shadow px-1 py-2">Dodaj do koszyka</button>
                </form>
                <form action="/buy-now" class"d-inline">
                    <input type="hidden" name="prod_id" value={{product.id}} />
                    <a href="{% url 'checkout' %}" class="btn btn-warning shadow px-5 py-2 ms-4 text-white" style="">Kup teraz!</a>
                </form>
            </div>
        </div>
    </div>

{% endblock main-content%}